/* Styles typographiques */
h1 {
  font-family: "Public sans", "Helvetica", "Arial", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #1C252E;
}

h2 {
  font-family: "Public sans", "Helvetica", "Arial", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #1C252E;
}

h3 {
  font-family: "Public sans", "Helvetica", "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #1C252E;
}

h4 {
  font-family: "Public sans", "Helvetica", "Arial", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #1C252E;
}

.subtitle1 {
  font-family: "Public sans", "Helvetica", "Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  color: #1C252E;
}

p {
  font-family: "Public sans", "Helvetica", "Arial", sans-serif !important;
  font-size: 0.875rem !important;
  font-weight: 300 !important;
  /* color: #616161 !important; */
  margin: 0;
}